/* Restablecer estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Aseguramos que el cuerpo permita scroll si el contenido es más alto */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
  min-height: 100vh; /* Cambiado de height a min-height */
  margin: 0; /* Corrige el margen */
  overflow-y: auto; /* Permite desplazamiento vertical */
}

/* Contenedor principal */
.container {
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  text-align: center; /* Centra el texto */
}

/* Formulario de login y contenido de usuario */
.form-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Formulario */
.form-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Estilo de los inputs */
input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Botón */
button {
  padding: 10px 20px;
  background-color: #0077b6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

button:hover {
  background-color: #005f87;
}

/* Estilos para el gráfico */
.chart-container {
  margin-top: 20px;
  width: 100%; /* Asegura que el gráfico ocupe todo el ancho disponible */
  overflow-x: auto; /* Permite desplazamiento horizontal si es necesario */
}

.chart-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Estilos para la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f4f4f9;
}

input[type="number"] {
  width: 100px;
  padding: 5px;
  margin: 5px;
}

/* Botón para agregar resultados */
button {
  padding: 5px 10px;
  background-color: #2a6bba;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #094ba7;
}

/* Estilo del encabezado */
h2, h3 {
  color: #333;
  text-align: center;
}

/* Estilo general de la página */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}